.container__chrono {
  width: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: absolute;
  top: 2vh;
  left: 35vw;
  position: fixed;
}

.title__chrono {
  font-size: 6vmin;
  color: white;
  font-family: var(--font-title);
}

.chrono {
  font-size: 10vmin;
  color: red;
  font-family: var(--font-chrono);
}
