.planete {
  position: absolute;
  bottom: 32vh;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  width: 300vw;
  translate: ('360');
  overflow-x: auto;
  height: 55vmin;
}




.container__planet{
  height: 100%;
}

.container__planet img{
  width: 20vmin;
}

