@font-face {
  font-family: digital-7;
  src: url(./assets/fonts/chrono/digital-7.ttf);
}

@font-face {
  font-family: AlegreyaSans-regular;
  src: url(./assets/fonts/paragraphes/AlegreyaSans-Regular.ttf);
}

@font-face {
  font-family: BigShouldersDisplay-VariableFont_wght;
  src: url(./assets/fonts/titres/BigShouldersDisplay-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

:root {
  --font-chrono: digital-7;
  --font-paragraphe: AlegreyaSans-Regular;
  --font-title: BigShouldersDisplay-VariableFont_wght;
}


body{

height: 100%;
}

body::-webkit-scrollbar {
  display: none;
}